<html>
    <head>
        <title>Currículo - Matheus de Oliveira Vieira</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="estilos.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="perfil.jpg" class="rounded float-right"/>
                </div>
                <div class="col" style="text-align:center">
                    
                    <h1>Matheus de Oliveira Vieira</h1>
                    <br><br>
                    <p><b>Tel:</b> (79) 988332022</p>
                    <p><b>E-mail:</b> matheus.oliveirav@gmail.com</p>
                    <p><b>Endereço:</b> Av. Augusto Franco 2000, Quadra 9 Lote 8 – Siqueira Campos</p>
                    <p><b>Cidade:</b> Aracaju-SE</p>
                    <p><b>Data de nascimento:</b> 07/03/1991</p>
                    
                    
                    </p>
                </div>
            </div>
        </div>

    <div class="container">
    <table class="table">
    <tr>
    <div class="row">
        <td> 
        <div class="col-3">
               <h2>Formação</h2>
            </div>
        </td>
        
        <td> 
        <div class="col" style="text-align:center">
                <p> Graduação em Ciência da Computação. UNIT – conclusão em 2016 </p>
            </div>
        </td>
    </div>
    </tr>


    <tr>
       <div class="row">

        <td> 
            <div class="col-3">
                <h2>Idiomas</h2>
            </div>
        </td>

        <td> 
            <div class="col" style="text-align:center">
                <p> <b>Inglês</b> – Nível intermediário. Instituição: Wizard Idiomas. Certificação TOEIC </p>
            </div>
        </td>
        </div>
    </tr>    

    <tr>
        <div class="row">
        
        <td>
        <div class="col-3">
            <h2>Experiências</h2>
        </div>
        </td>
        
        <td> 
        <div class="col" style="text-align:center">
                <p> <b><u> UNIBASE CORRETORA DE SEGUROS - 08/2017 até os dias atuais </u></b>  </p>
            <p> 
                <ul style="list-style-type:none;"> <b>Auxiliar Administrativo</b>
                    <li > - Realizar cotações de seguros nos ramos que a empresa atende; </li>
                    <li > - Classificação e armazenamento dos documentos relativos aos clientes da empresa. </li>
                </ul>
            </p>
            <br>
            <p> <b><u> REDE PRIMAVERA – 02/2014 a 10/2014 </u></b>  </p>
            <p> 
                <ul style="list-style-type:none;"> <b>Estágio</b>
                    <li> - Identificar as necessidades e demandas de acordo com os setores da empresa; </li>
                    <li> - Direcionar suporte de Hardware e Software aos devidos setores; </li>
                    <li> - Auxiliar os funcionários da empresa nas novas tecnologias implantadas na empresa. </li>
                </ul>
            </p>
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="row">
        <td> 
            <div class="col-3">
                <h2>Qualificações</h2>
            </div>
        </td>
        <td> 
            <div class="col" style="text-align:center">
                <p> Procuro ressaltar competências que são importantes no meio de trabalho como dinamismo,compartilhar conhecimentos, trabalho em equipe e responsabilidade. Sempre procuro me manter atualizado nos assuntos que estão me norteando para uma carreira de desenvolvedor FullStack </p>
            </div>
        </td>
        </div>
    </tr>

    
    </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>
</html>